<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
</head>
<body>
    <h1>Hello <%= name %> ! </h1>
    <h2>Welcome to the login Website</h2>
    <br>
    <form action="/logout" method="get">
        <!-- <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password"> -->
        <button type="submit">Logout</button>
    </form>
</body>
</html>